<h2>Manage Users</h2>

<% if current_user.admin? %>    
	<p>
	    <% @users = User.all %>
	    <ul class="users">
	        <% @users.each do |user| %>
	    		<li><%= user.name %> : <%= user.email %> 
	    			<%= link_to "Edit", edit_user_path(id: user.id) %>		
	    	   </li>
	        <% end %>
	    </ul>
	</p>
<% else %>
	<%= link_to "Back", :back %>
<% end %>