<!DOCTYPE html>
<html>
  <head>
    <title>SendMessApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!---%= render 'layouts/header' %-->
  <%= link_to 'SendMessApp', root_path, class: 'navbar-brand' %>

  <% if user_signed_in? %>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item ">
        <span>Logged in as <strong><%= current_user.name %></strong></span>
      </li>
      <li class="nav-item active">
        <%= link_to 'Edit', edit_user_registration_path, class: 'nav-link' %>
      </li>
      <% if current_user.admin? %>
      <li class="nav-item active">
        <%= link_to 'All Users', users_index_path, class: 'nav-link' %>        
      </li>
      <% end %>
      <li class="nav-item active">
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
  <% end %>
</nav>

<div class="container">
    <%= yield %>
  </body>
</html>
